@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");
@import "tailwindcss";

@theme {
  --color-fm-purple-50: hsl(260, 100%, 95%);
  --color-fm-purple-300: hsl(264, 82%, 80%);
  --color-fm-purple-500: hsl(263, 55%, 52%);

  --color-fm-white: hsl(0, 0%, 100%);
  --color-fm-grey-100: hsl(214, 17%, 92%);
  --color-fm-grey-200: hsl(0, 0%, 81%);
  --color-fm-grey-400: hsl(224, 10%, 45%);
  --color-fm-grey-500: hsl(217, 19%, 35%);
  --color-fm-dark-blue: hsl(219, 29%, 14%);
  --color-fm-black: hsl(0, 0%, 7%);

  --font-barlow: "Barlow Semi Condensed", sans-serif;
}
